body {
  padding: 0;
  margin: 0;
  font-family: Georgia, serif; }

#container {
  width: 60%;
  border-top: 6px solid black;
  margin: 0 auto;
  padding: 0; }
  #container h1 {
    font-size: 4.8em;
    font-weight: normal;
    padding: 0;
    margin: 0.24em 0em 0.04em 0em; }
  #container span#subtitle {
    color: #666666;
    font-style: italic;
    font-size: 1.4em;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0em 0em 1.4em 0em; }
  #container a {
    text-decoration: none;
    display: block; }
    #container a h1 {
      color: black; }
  #container a:hover h1 {
    color: rgba(0, 0, 0, 0.4); }
  #container a:hover .post div.datetime {
    background: black; }
  #container .post.left img {
    border-right: 1px solid white;
    margin-left: -1px; }
  #container .post {
    padding-bottom: 1px;
    width: 50%;
    float: left;
    position: relative; }
    #container .post div.datetime {
      background: rgba(0, 0, 0, 0.4);
      transition: ease-in-out 1s background;
      position: absolute;
      z-index: 2;
      top: 10px;
      left: 10px;
      padding: 16px;
      border-radius: 40px;
      width: 2.8em;
      height: 2.8em; }
      #container .post div.datetime span.day {
        font-size: 1em;
        color: white;
        text-decoration: none;
        padding: 0em 0em 0.3em 0em;
        margin: 0 auto;
        display: block;
        width: 100%;
        border-bottom: 1px solid white;
        text-align: center; }
      #container .post div.datetime span.month {
        font-size: 1em;
        color: white;
        text-decoration: none;
        padding: 0.3em 0em 0em 0em;
        margin: 0 auto;
        display: block;
        width: 100%;
        text-align: center; }
    #container .post img {
      width: 100%; }
    #container .post a {
      background: black;
      color: white;
      position: absolute;
      z-index: 2;
      top: 10px;
      left: 10px;
      text-decoration: none;
      padding: 16px;
      font-size: 1.4em;
      border-radius: 40px; }
    #container .post a:hover {
      background: white;
      color: black; }
    #container .post .content h1 {
      font-size: 2.4em; }
  #container .post:hover a {
    background: white;
    color: black; }
  #container #post {
    width: 100%; }
    #container #post img {
      width: 100%; }
    #container #post h1 {
      font-size: 2.4em; }
