<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link href="http://feeds.feedburner.com/sfo2yvr" rel="alternate" title="sfo2yvr" type="application/atom+xml" />
  </head>
  <body>
    <div id="container">
      <h1>{{ page.title }}</h1>
      <span id="subtitle">28. August bis 17. September 2011</span>
      {{ content }}
      <div id="footer">
        <p><a href="/">{{ page.title }}</a> ist ein Reise-Photoblog von <a href="http://schalch.net">Markus</a> und <a href="http://philippkueng.ch">Philipp</a> für die USA Reise 2011 welche von San Francisco bis nach Vancouver führt.</p>
      </div>
    </div>
  </body>
</html>