<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>SFO 2 YVR - {{ page.title }}</title>
    <link rel="stylesheet" href="../../../../css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link href="http://feeds.feedburner.com/sfo2yvr" rel="alternate" title="sfo2yvr" type="application/atom+xml" />
  </head>
  <body>
    <div id="container">
      <a href="/"><h1>SFO 2 YVR</h1></a>
      <span id="subtitle">28. August bis 17. September 2011</span>
      <div id="post">
        <img src="../../../images/{{ page.image }}" />
        <div class="content">
          <h1>{{ page.title }}</h1>
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </body>
</html>